html {
    font-size: 16px;
}

/** Some resets **/
h1, h2, h3, h4, h5, h6 {
    font-family: var(--headerFont);
    font-weight: 600;
}

h1, h2, h3, h4, h5, h6, .body-text, .small-text, .blockquote {
    border: none;
    margin: 0;
    padding: 0;
}

.body-text, .small-text, .blockquote {
    max-width: 70ch;
}

/**
   Typography on the baseline grid
 */
h1 {
  font-size: 40px;
    line-height: 44px;
}

h2 {
    @include baseline(28px);
}

h3 {
    @include baseline(22px);
}

h4 {
    @include baseline(18px);
}

/** Media queries for headings **/

///** Tablet **/
//@media screen and (min-width: 760px) {
//    h1 {
//        font-size: 2.5rem;
//        line-height: 2.75rem;
//        margin-bottom: 1.75rem;
//        padding-top: 1.25rem;
//    }
//
//    h2 {
//        font-size: 2rem;
//        line-height: 2.25rem;
//        margin-bottom: 0.75rem;
//        padding-top: 1.25rem;
//    }
//
//    h3 {
//        font-size: 1.5rem;
//        line-height: 2rem;
//        margin-bottom: 1rem;
//        padding-top: 1rem;
//    }
//}
//
///** Desktop **/
//@media screen and (min-width: 1280px) {
//    h1 {
//        font-size: 3rem;
//        line-height: 3.5rem;
//        margin-bottom: 1.75rem;
//        padding-top: 1.75rem;
//    }
//
//    h2 {
//        font-size: 2.25rem;
//        line-height: 2.5rem;
//        margin-bottom: 1rem;
//        padding-top: 1.5rem;
//    }
//
//    h3 {
//        font-size: 1.75rem;
//        line-height: 2.125rem;
//        margin-bottom: 1rem;
//        padding-top: 1.375rem;
//    }
//}

///** Adjacent headings **/
//h1 + h2, h1 + h3, h1 + h4,
//h2 + h3, h2 + h3,
//h3 + h4 {
//    padding-top: 0;
//}

.leader-text {
    font-size: 1.125rem;
    font-weight: 600;
    line-height: 1.5rem;
    margin-bottom: 0.625rem;
    padding-top: 0.375rem;
}

.body-text {
    font-size: 1rem;
    line-height: 1.5rem;
    margin-bottom: 1rem;
}

.small-text {
    font-size: 0.875rem;
    line-height: 1.125rem;
    margin-bottom: 1rem;
    padding-top: .125rem;
}

.tiny-text {
    font-size: 0.6875rem;
    line-height: 1rem;
    margin-bottom: 20px;
    padding-top: 0.25rem;
}

.blockquote {
    font-size: 1.125rem;
    font-style: italic;
    line-height: 1.5rem;
    margin-bottom: 1.625rem;
    padding-top: 0.375rem;
}

