$base-font-size: 	16px;
$base-line-height: 	1.0833333333333333;

// this value may vary for each font
// unitless value relative to 1em
$cap-height: 		0.7;

@mixin baseline($font-size, $scale: 2) {

    // rhythm unit
    $rhythm: $base-line-height * $font-size / $scale;

    // number of rhythm units that can fit the font-size
    $lines: ceil(($font-size + 0.001px) / $rhythm);

    // calculate the new line-height
    $line-height: $rhythm * $lines / $font-size;

    $baseline-distance: ($line-height - $cap-height) / 2;

    // use the results
    font-size: $font-size;
    line-height: $line-height;
    padding-top: $baseline-distance + em;
    margin-bottom: $base-line-height - $baseline-distance + em;
}