html, body {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: Arial, sans-serif;
    line-height: 1.5;
    font-size: 16px;
    color: #333333;
}

:root {
    --headerFont: 'Hurme', Arial, sans-serif;
}

@font-face {
    font-family: 'Hurme';
    src: url('https://victoriaplum1.global.ssl.fastly.net/fonts/hurme/hurmegeometricsans_no4_5_semibold-webfont.eot');
    src: url('https://victoriaplum1.global.ssl.fastly.net/fonts/hurme/hurmegeometricsans_no4_5_semibold-webfont.eot?#iefix') format('embedded-opentype'),
    url('https://victoriaplum1.global.ssl.fastly.net/fonts/hurme/hurmegeometricsans_no4_5_semibold-webfont.woff') format('woff'),
    url('https://victoriaplum1.global.ssl.fastly.net/fonts/hurme/hurmegeometricsans_no4_5_semibold-webfont.ttf') format('truetype'),
    url('https://victoriaplum1.global.ssl.fastly.net/fonts/hurme/hurmegeometricsans_no4_5_semibold-webfont.svg#hurme_geometric_sans_4SBd') format('svg');
    font-weight: 600;
    font-style: normal;
}

.wrap {
    margin: 48px;
    overflow: hidden;
}

.left {
    float: left;
    width: 45%;
}

.right {
    float: right;
    width: 45%;
}

#overlays {
    position: absolute;
    top: 0px;
    left: 0px;
    opacity: 1;
    width: 100%;
    height: 100%;
    z-index: -1;
}

#overlay-8 {
    position: absolute;
    top: 0px;
    left: 0px;
    opacity: 0;
    width: 100%;
    height: 100%;

    z-index: -1;
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="1" height="8"><rect style="fill: rgba(255,0,0, 0.5);"  width="1" height="0.5" x="0" y="0"/></svg>');
}

#overlay-4 {
     position: absolute;
     top: 0px;
     left: 0px;
     opacity: 0;
     width: 100%;
     height: 100%;
     z-index: -1;
     background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="1" height="4"><rect style="fill: rgba(255,0,0, 1);"  width="1" height="0.25" x="0" y="0"/></svg>');
}

#overlay-20 {
    position: absolute;
    top: 0px;
    left: 0px;
    opacity: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="1" height="19"><rect style="fill: rgba(255,0,0, 1);"  width="1" height="0.25" x="0" y="0"/></svg>');
}

#overlay-4.show-grid,
#overlay-8.show-grid,
#overlay-20.show-grid{
    opacity: 1;
}

/** Baseline grid toggles **/
#controls {
    position: fixed;
    top: 0;
    right: 0;
    box-shadow: 0 0 16px rgba(0,0,0,0.25);
    background: white;
    text-align: center;
    cursor: move;
}

#controls fieldset {
    border: none;
    padding: 1em;
}

#controls h4 {
    margin: 0;
    padding: .25em 1em;
    background: #4e4e4e;
    color: #fff;
}